/* Sets CSS variables in Page */
:root {
  --red: #333;
  --yellow: #efeee7;
  --white: #ffffff;
  --light-blue: #1b7a9f;
  --dark-blue: #0d3b4c;
  --dark: #222222;
}

/* tells browser to fix box model calculations and gets rid of margins*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* CSS Psuedo Elements */
*, *::before, *::after {
  box-sizing: inherit;
}

/* body */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: var(--red);
    background: var(--yellow);
    background-image: url(./images/sky.jpg);
    text-align: center;
  }

  nav {
    padding: 10px;
    color: white;
  }

  /* targets nav elements for navbar */
  .flexbox {
    display:flex;
    justify-content: space-between;
    background-color:var(--dark);
  
  }

  /* targets nav ul with flex */
  nav ul {
    display: flex;
    align-items: center;
  }

  nav ul li {
    margin-right: 20px;
    list-style-type: none;
  }

  a {
    position: relative;
    text-decoration: none;
  }
  
  /* changes nav bar for color change */
  a::before {
    content: "";
    position: absolute;
    height: 3px;
    right: 0px;
    bottom: -3px;
    left: 0px;
    background-color: var(--dark-blue);
  }
 
  /* changes size of paragraph */
  p {
    font-size: 16px;
  }
  
  /* makes name underlined */
  section h1 {
    text-decoration: underline;
  }

  /* adjusts the sizing of bio-image */
  #bio-image {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    margin-top: 20px;
    border: 5px solid var(--dark-blue);
  }

  /*  flexbox for about me section */
  .container {
    display: flex; 
    width: 100%;
  }

  /* flex child */
  .son1 {
    max-width: 200px;
    min-width: 150px;
  }

  /* flex child */
  .son2 {
    width: 100%;
    align-self: center;
    text-align: left;
  }

  /*  sizing of portfolio heading */
  .wrapper h1 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    /* sizing of images */
    .img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

    /* class for images */
    .single-img {
     padding: 0 20px 20px;
    }

    /* gives images a nice look before getting clicked */
    img:hover{
      opacity: .5;
      transition: .9s;
    }
    
    /* styles for footer */
    footer {
      padding: 30px;
      clear: both;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
    }
    

    /* media queries */
    @media screen and (min-width: 480px;) {

    }
    
    @media screen and (min-width: 768px;) {
    padding: 20px;
    }
    
    @media screen and (min-width: 992px;) {
    
    }
    
    @media screen and (min-width: 1200px;) {
      
    }