/* Sets CSS variables in Page */
:root {
  --red: #333;
  --yellow: #efeee7;
  --white: #ffffff;
  --light-blue: #1b7a9f;
  --dark-blue: #0d3b4c;
  --dark: #222222;
}

/* tells browser to fix box model calculations and gets rid of margins*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body */
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
    background-image: url(./images/sky.jpg);
  }

  nav {
    padding: 10px;
    font-size: 40px;
  }

  /* targets nav elements for navbar */
  .flexbox {
    display: flex;
    justify-content: space-between;
    background-color:var(--dark);
  }

  /* targets nav ul with flex */
  ul {
    display: flex;
  }

  ul li {
    margin-right: 20px;
    list-style-type: none;
  }

  a {
    position: relative;
    text-decoration: none;
  }
  
  /* changes nav bar for color change */
  a::before {
    content: "";
    position: absolute;
    height: 3px;
    right: 0px;
    bottom: -3px;
    left: 0px;
    background-color: var(--dark-blue);
  }
 
  /* changes size of paragraph */
  p {
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  
  /* makes aboutme underlined */
   h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin-top: 10px;
    margin-left: 40px;
    text-align: center;
  }

  /*  flexbox for about me/contact section */
  .bio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    
  /* adjusts the sizing of bio-image */
  #bio-image {
    margin-left: 20px;
    margin-top: 20px;
    border: 5px solid var(--dark-blue);
    
  }

    /* sizing of portfolio images */
    .img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    }

    /* class for portfolio images */
    .single-img {
     padding: 20px 
    }

    /* gives images a nice look before getting clicked */
    img:hover{
      opacity: .5;
      transition: .9s;
    }

    /* for the captions underneath the pics */
    figure {
      padding: auto;
      margin: auto;
    }
    
    figcaption {
      background-color:var(--dark-blue);
      color: white;
      font-style: italic;
      padding: 2px;
      text-align: center;
    }
  
    /* for contact section */
    .flexbox1 {
      display: flex;
      justify-content: space-between;
      columns: row;
      background-color:var(--dark);
      margin-top: 20px;
    }
    
    .contact-info {
    padding: 10px;
    font-size: 30px;
    }

    /* styles for footer */
    footer {
      padding: 30px;
      clear: both;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
    }
    

    
    
    
    


 
   @media screen and (max-width: 500px) {
  .flexbox {
    text-align: center;
    flex-direction: column;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }

  #bio-image {
    margin-left: 10px;
  }
  .img-area {
    margin-left: 10px;
  }

  nav {
    padding: 10px;
    font-size: 10px;
    margin-left: 20px;
  }

  p {
   text-align: center;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    font-size: 20px
  }

  ul li {
    margin-right: 20px;
    list-style-type: none;
  }

  h1 {
    font-size: 20px;
  }

  .contact-info {
    font-size: 10px;
  }

  .flexbox1 {
      text-align: center;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
    }
  
    footer {
      text-align: center; 
      margin-left: 10px;
    }
   }